@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #213547;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    place-items: center;
    justify-content: center;
}

*,
*:hover {
    scrollbar-color: #1a233a transparent;
    scrollbar-width: thin;
}

::selection {
    background: #333b56;
    color: white;
}

.btn {
    @apply rounded-full;
}
